.chip {
    display: inline-block;
    background: #fff;

    color: #116193;

    border: 1px solid #116193;
    border-radius: 20px;

    padding: 0px 8px;
    margin-bottom: 8px;
}

.chip + .chip {
    margin-left: 10px;
}